html, body {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFF, #e83283);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFF, #e83283); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}
.Quiz {
    text-align: center;
  }
.Quiz-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  text-decoration: none;
}
hr {
  overflow: visible; /* For IE */
  height: 40px;
  border-style: solid;
  border-color: white;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
  
  
  @media (prefers-reduced-motion: no-preference) {
    .Quiz-logo {
      animation: Quiz-logo-spin infinite 20s linear;
    }
  }
  
  .Quiz-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Quiz-link {
    color: #61dafb;
  }
  
  @keyframes Quiz-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .nav-arrows {
    position: absolute;
    top: 30%;
    width: 50px;
    height: auto;
  }
  
  .left {
    left: 2rem;
  }
  
  .right {
    right: 2rem;
  }
  
  .userForm {
    width: 35vw;
    border: 1px solid #ced4da;
  }
  
  .noticeAlert {
    width: 50vw;
  }
  
  .fullHeight {
    height: 100vh;
  }
  .splash{
    background-color: white;
    padding-left:100px;
    padding-right: 100px;
    padding-top: 20px;
    border-radius: 15px;
    opacity: .95;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
  
  }
  .rules-background{
    /* this image will be replaced by another when given */
    background-image: url(https://soar-images.s3-us-west-1.amazonaws.com/USU_BUSH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .background2{
    background-image: url(https://soar-images.s3-us-west-1.amazonaws.com/usu-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .background-failed{
    background-image: url(https://soar-images.s3-us-west-1.amazonaws.com/which-alum-are-you.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .footer{
    text-align: center;
    background-color: white;
    opacity: 0.95;
    margin-top: 24px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .pull-right{
    text-align: right;
    vertical-align: text-top;
  }
  .pull-left{
    text-align: left;
    vertical-align: text-top;
  }
  .jumbo{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 15%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .answerButtons{
    width: 100%;
    margin-top: 0%;
    padding-top: 0%;
  }
  .red-text{
    color: rgb(255, 136, 136);
  }
  .gold-text{
    color: gold;
  }
  @media(max-width: 768px){
    .splash{
      border-radius: 15px;
      opacity: .95;
      margin-left: 2%;
      margin-right:2%;
      padding-left: 2%;
      padding-right: 2%;
    }
    .Form{
      padding-left: 0%;
      padding-right: 0%;
      margin-left: 0%;
      margin-right:0%;
    }
    .Col{
      margin-left: 0%;
      margin-right: 0%;
    }
    .footer{
    text-align: center;
    background-color: white;
    opacity: 0.95;
    margin-top: 24px;
    margin-left: 0%;
    margin-right: 0%;
    }
    .answerButtons{
      width: 90%
    }
  }
  