.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-arrows {
  position: absolute;
  top: 30%;
  width: 50px;
  height: auto;
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}

.userForm {
  width: 35vw;
  border: 1px solid #ced4da;
}

.noticeAlert {
  width: 50vw;
}

.fullHeight {
  height: 100vh;
}
.splash{
  text-align: center;
  background-color: lightgrey;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  border-radius: 25px;
  opacity: .95;
  padding-bottom: 10px;
}
.background{
  /* this image will be replaced by another when given */
  background-image: url(https://soar-images.s3-us-west-1.amazonaws.com/USU_BUSH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.background2{
  background-image: url(https://bc3-production-blobs-us-east-2.s3.us-east-2.amazonaws.com/617485f8-c2ed-11ea-908e-ecf4bbd6f9a0?response-content-disposition=inline%3B%20filename%3D%22usuTest-5.jpg%22%3B%20filename%2A%3DUTF-8%27%27usuTest-5.jpg&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAS5PME4CT5QW2PJJU%2F20200713%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20200713T041128Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=24cc04fe3c3794f016d607e4f2bed1459b630d7674f767067f69b354a04805b3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.ol{
  text-align: left;
}
.li{
  text-align: left;
}

